{% extends "master" %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2 class="page-title">posts</h2>
      <a href="/post" class="cancel-link">back</a>
    </div>
  </div>
{% endblock %}
