{% extends 'master' %}

{% block content %}
    <div class="container">
      <h1>Welcome to Popular Posts!</h1>

      <div class="links__welcome">
        <a href="/login" class='waves-effect waves-light orange darken-3 btn'>Login</a>
        <a href="/register" class='waves-effect waves-light orange darken-3 btn'>Register</a>
      </div>
    </div>
{% endblock %}
