{% extends "master" %}

{% block content %}
  <div class="container">
    <div class="noauth__content">
      <h2 class="noauth__content--title">You must be logged in to view this page</h2>
      <p class="noauth__content--message">An acount is required to view user-posted content on this site.
      Please use the buttons below to login with an existing account or to register a new account.</p>
    </div>
  </div>
{% endblock %}
