.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &-top {
    background-color: $dk-purple;
  }

  &-bottom {
    background-color: $purple;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
