// @import 'yoga';
// @import 'normalize';
$purple: #5c6bc0;
$dk-purple: #5967b5;
$orange: #ff7043;
$white:  #fff;
$gray: #f1f1f1;
$green: #69F0ae;
$red: #ff8a80;
$max-content-width: 60rem;
$min-content-width: 10rem;
$gutter: 1rem;
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'header';
@import 'footer';
@import 'posts';
@import 'content';
@import 'globals';
@import 'alerts';
